/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 .fa{
 	color:#FF5200;
 }
.right{
    float: right;
}
.left {
    text-align: left !important;
}
.center{
    text-align: center;
}
.smart-style-2.menu-on-top aside#left-panel nav>ul>li>ul{
    width: 243px;
}
.btn{
    margin-top:20px;
    width: 79px !important;
}
.fa-mobile,
.fa-map-marker{
    font-size: 17px !important;
}
#btnPrint{
    width: 90px !important;
}
.btn-search{
    width: 75px !important;
}
fieldset {
    font-family: sans-serif;
    border: 1px solid #ddd; 
    width: 63%;
    margin-left: 20%;
    padding: 15px; 
   padding-right: 52px;
} 
fieldset legend { 
    color: #000; 
    font-size: 18px; 
    margin-left: 20px;
    width: auto;
    border-bottom: none;
}
/* Datatable Header Style */
header.gird {
 	border-color: #383838!important;
    background: #404040;
    color: #fff;
    height: 34px;
    padding: 0; 
}
header.gird  h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 10px;
    float: left;
}
header.gird>.widget-icon {
	display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 111%;
    line-height: 32px;
    text-align: center;
    margin-right: -10px;
}
/* Datatable Style */
.dataTables_wrapper{
	border:1px solid #CCC!important;
	padding-top:20px;
}
.dataTables_wrapper  .paging_simple_numbers{
	margin-right: 15px !important;
}
.dataTables_wrapper  .dataTables_info{
   margin-left:15px !important;
}
.dataTables_wrapper .dataTables_filter{
	padding-right: 15px;
}
.dataTables_wrapper  .bs-select{
	padding-left: 15px;
}
.table-add{
	float: right; 
    margin-top: 7px;
    margin-right: 15px; 
}
.table-add a{
	color:#FF5200;
}
#dtThankCard_wrapper{
    border:none !important;
}
/*Form Container Style*/
.form-container{
	border: 1px solid #CCC;
    padding-top: 30px;
    padding-right: 20px;
}
.btn {
   background: #FF5200 !important;
   color:#fff;
   width: 70px;
}
.btn .fa{
    color:#fff;
}
.alert{
    margin-top:20px;
}

/*Search Form */
#search{
    margin-top:30px;
}
.btn-search{
    background: #FF5200;
    margin-top: 22px;
    color:#fff;
    border:none;
}
/* ThankCard */ 
#receive_content div.message{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee; 
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 30px;
}
#receive_content div.message:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #eee;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

#receive_content div.message:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #eee;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}
#receive_content .message_date{
    float: right;
    font-style: italic;
}
#receive_content .reply_edit{
    font-size: 20px;
    float: right;
    position: relative;
    margin-bottom: 15px;
    margin-right: 6px;
}
#receive_content .txt_message{
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    width: 97%;
    padding-left: 30p;
    margin-right: 20px-; 
    height: 81px;
    border: 1px dotted #FF5200 !important;
}
#receive_content .btn.reply,
#receive_content .btn.cancel{
    float: right;
    margin-top:10px; 
}
#receive_content .btn.reply{ 
    width: 79px;
}
#receive_content .btn.reply >.fa{
    color:#fff;
}
 
#receive_content .img-content{
    text-align: center;;
}
#reply_message_edit{
    display: none;
}
#thankcard_content,
#reply_content{
    border: 1px dotted orangered; 
    background: #ffa50014; 
}
#reply_content input[type=text],
#reply_content textarea { 
    background: transparent;
    border: 1px dotted orangered;
}
#reply_content .reply_text{
    background: #fff;
    border:1px solid #ddd;
}
#thankcard_content{
    height: 406px;
} 
#reply_content{
    padding-top:15px;
    height: 408px;
}
#thankcard_img{
    padding:0px;
}
.print_card{
    padding-right: 0px;
}
.print_card .btn{
    margin-bottom: 9px;
}
img.rounded-circle {
    border-radius: 50%; 
    width: 100px;
    height: 100px;
}
.btn-download{
    margin-top:5px;
    width: 120px;
}
.btn-download .fa{
  color:#fff;
}  
.gird{
    margin-top:30px;
    /*margin-bottom: 20px;*/
}
/*Activities*/
.img_banner{ 
    background: url('../img/banner.jpg') no-repeat center top; 
    background-size: cover; 
    height:100vh;
}